<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Config/etc/system_file.xsd">
    <system>
        <tab id="hello" translate="label" sortOrder="220">
            <label>Ktpl Hello</label>
        </tab>
        <section id="general" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0">
            <class>separator-top</class>
            <label>General</label>
            <tab>hello</tab>
            <resource>Ktpl_Hello::config_hello</resource>
            <group id="config" translate="label" type="text" sortOrder="1" showInDefault="1" showInStore="1" showInWebsite="1">
                <label>Config</label>
                <field id="hello_per_page_values" translate="label comment" type="text" sortOrder="2" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>List per Page Allowed Values</label>
                    <comment>Comma-separated.</comment>
                    <!--<validate>validate-per-page-value-list</validate>-->
                </field>
                <field id="hello_per_page" translate="label comment" type="text" sortOrder="3" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>List per Page Default Value</label>
                    <comment>Must be in the allowed values list</comment>
                    <!--<validate>validate-per-page-value</validate>-->
                </field>
            </group>
        </section>
    </system>
</config>